<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channelType</key>
		<integer>0</integer>
		<key>channelName</key>
		<string>首页</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>14</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>0</integer>
		<key>channelName</key>
		<string>推荐</string>
		<key>isNew</key>
		<string>1</string>
		<key>channelId</key>
		<string>1927</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>从政</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>汽车</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>防腐前沿</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>教育</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>房产</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>健康</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>体育</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>观点</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>社会</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>国际</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>文娱</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>专题</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>消费</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>数码</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>旅游</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>1</integer>
		<key>channelName</key>
		<string>经济</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>深圳</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>珠海</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>汕头</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>佛山</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>韶关</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>河源</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>梅州</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>惠州</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>汕尾</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>东莞</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>中山</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>江门</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>阳江</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>湛江</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>茂名</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>肇庆</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>清远</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>潮州</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>揭阳</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>channelType</key>
		<integer>2</integer>
		<key>channelName</key>
		<string>云浮</string>
		<key>isNew</key>
		<string>0</string>
		<key>channelId</key>
		<string>0</string>
	</dict>
</array>
</plist>
